{% extends "base.html" %}

{% block content %}
<nav>
				<div class="navbar navbar-fixed-top navbar-inverse">
				      <div class="navbar-inner">
				        <div class="container">
				        	
				          <a class="brand" href="/">FitNotes</a>
				          			
									<div class="nav pull-right">
							           <div class="btn-group">
							           	
									  <button class="btn btn btn-inverse">{% if user %}{{username}}{% else %}<a href="/login">Login</a>{% endif %}</button>
									  <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
									    <span class="caret"></span>
									  </button>
										<ul class="dropdown-menu"> {% if user %}
							            	    	
								      <li><a href="/profile">Profile</a></li>
								      <li class="divider"></li>
								          <li><a href="/logout">Logout</a></li>
								    {% else %}
								    
							              <li><a href="/login">Login</a></li>
							              <li class="divider"></li>
							              <li><a href="/signup">Signup</a></li>
							              
							             {% endif %}
							            </ul>
											</div>
							          </div>
				          <div class="nav-collapse collapse">
				            <ul class="nav">
				            	
				            	<li class="divider-vertical"></li>
				              <li >
				                <a href="/">Home</a>
				              </li>
				              <li >
				                <a href="/fitlogs">FitLogs</a>
				              </li>
				              <li class="active">
				                <a href="/fitforums">FitForums</a>
				              </li>
				            				              
								</ul>
				            
				          </div>
				        </div>
				      </div>
				    </div>
				</nav>
				<br /><br /><br />
				
				<div class="container">
				<div class="alert alert-info">
					
						  
						  <h3 class="alert-heading">Coming Soon!!</h3>
						  A forum where you can discuss workout plans, diets, or meal recipes with other users. 
						  
						</div>
				</div>

				
{% endblock %}